<title>About Us</title>
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/About.css' %}">
</head>

<body>

    <header>
        <nav id="navbar">
            <a id="logo" href="/Home/">
                <h3>Get Educated<small>&beta;</small></h3>
            </a> <br>
            <a href="/Home/sign-in/">Log in</a>
            <a href="/Home/sign-up/">Sign Up</a>
            <a href="/Features/Suggestions/">Suggesion</a>
            <a href="/Features/About/">About</a>
        </nav>
    </header>

    <div id="con-area">
        <h3 style="text-align: center;">What is Get Educated</h3>
        <p></p>
    </div>
</body>

</html>