{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if comment_response %}

    <p id="err"> {{comment_response}} </p>
    <br> {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basboosa</title>
    <link rel="stylesheet" href="{% static 'css/comm.css' %}">
</head>

<body>
    <div>
        <h1>(Write your Comment)</h1>
        <form action="/Home/Add_Comment/" method="post" id="comment">
            {% csrf_token %}
            <label for="">Username</label> <br>
            <input type="text" name="user" />
            <br>
            <label for="">Comment Content</label> <br>
            <textarea name="comment_info" id="" cols="100" rows="10"></textarea>
            <br>
            <small>note: You can't edit or delete your comment</small>
            <br>
            <input type="submit" value="Submit" class="btn" />
        </form>
    </div>
</body>

</html>